@import "_flex";

@mixin page($page-width) {
  $section-margin: $page-width / 40;
  $section-width: $page-width / 2 - $section-margin * 2;
  $input-margin: $page-width / 50;
  $input-padding: $page-width / 160;
  $font-size: $page-width / 57;

  width: $page-width;
  font-size: $font-size;
  line-height: $font-size * 1.5;
  > div {
    width: $section-width;
    margin: $section-margin;
    padding: $input-margin/2 0 0 0;
    border-radius: 5px;
  }

  input, textarea, pre {
    $width: $section-width - ($input-padding + $input-margin) * 2;
    margin: $input-margin/2 $input-margin;
    padding: $input-padding;
    width: $width;
  }
}

#demo .contents {

  h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-shadow: none;
    color: #ffffff;
    text-align: center;
  }
  margin: 0 auto;

  @include flexbox;
  @include flex-direction(row);

  > div {
    background-color: #60B9CE;
    border-radius: 5px;
  }
  > #editorconfig { @include order(1); }
  > #output { @include order(2); }

  input, textarea, pre {
    font-family: monospace,sans-serif;
    border-radius: 3px;
    background-color: #ffffff;
    resize: none;
    border: 0;
  }

  @include page(800px);
  @media only screen and (min-width: 1200px) {
    @include page(1100px);
  }
  @media only screen and (max-width: 900px) {
    @include page(700px);
  }
  @media only screen and (max-width: 800px) {
    @include page(600px);
  }

}
