@import "_flex";

.deck-status { left: 20px; }

@mixin page($page-width) {
  $section-margin: $page-width / 40;
  $section-width: $page-width / 2 - $section-margin * 2;
  $input-margin: $page-width / 50;
  $input-padding: $page-width / 160;
  $font-size: $page-width / 60;

  width: $page-width;
  font-size: $font-size;
  line-height: $font-size * 1.5;
  > div {
    width: $section-width;
    margin: $section-margin;
    padding: $input-margin/2 0 0 0;
    border-radius: 5px;
  }

  input, textarea, pre {
    $width: $section-width - ($input-padding + $input-margin) * 2;
    margin: $input-margin/2 $input-margin;
    padding: $input-padding;
    width: $width;
  }
}

body { cursor: url(small.cur), auto; }

footer {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  text-align: center;
}

.editors {
  float: right;
  max-height: 75%;
  max-width: 75%;
}

.icon {
  margin: 0; padding: 0;
  position: absolute;
  bottom: 20px;
  right: 40px;
}
div.icon {
  text-align: center;
  width: 140px;
  height: 140px;
}
.icon img, img.icon {
  margin: 0; padding: 0;
  max-width: 140px;
  max-height: 140px;
}

.slide .demo {

  h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-shadow: none;
    color: #ffffff;
    text-align: center;
  }
  margin: 0 auto;

  @include flexbox;
  @include flex-direction(row);

  > div {
    background-color: #60B9CE;
    border-radius: 5px;
  }
  > #editorconfig { @include order(1); }
  > #output { @include order(2); }

  input, textarea, pre {
    font-family: monospace,sans-serif;
    border-radius: 3px;
    background-color: #ffffff;
    resize: none;
    border: 1px solid #60B9CE;
    &:focus {
      outline: none;
      border-color: #287377;
      background-color: #fdfff0;
    }
  }

  @include page(800px);
  @media only screen and (min-width: 1200px) {
    @include page(1100px);
  }
  @media only screen and (max-width: 900px) {
    @include page(700px);
  }
  @media only screen and (max-width: 800px) {
    @include page(600px);
  }

}

.demo-link { float: right; }
